$color-1: #051026;
$color-2: #011c40;
$color-3: #0367a6;
$color-4: #022601;
$color-5: #f2d544;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: hidden;
}

p, h1,h2,h3,h4,h5,h6 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.6rem;
}

