header {
  font-size: 3rem;
}

ul {
  height: 100vh;
  width: 7rem;
  background-color: $color-5 ;
  backdrop-filter: blur(2000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  list-style: none;
  justify-content: space-around;
  z-index: 10000;
  @include device('s') {
    top: 0;
    height: 7rem;
    width: 100vw;
    flex-direction: row;
  }
}

ul li {
  margin: 1rem 0;
  padding: 0;
  transition: ease-in-out .8s;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
}
